.card-article {
    display: flex;
    flex-direction: row;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin: 0.2%;
    padding: 0.25rem;
    overflow: hidden;
    width: 32%;
    background-color: rgba(240, 240, 240, 90%);
}

.card-img-top {
    border-radius: 0.25rem;
    max-width: 50%;
    height: auto;
}


.card-body {
    flex-direction: column;
    margin-left: 0.5rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {

    margin-bottom: 0.5rem;
}

.text-muted {
    color: #6c757d;
}